:root {
    --primarycolor: #f8f0f3;
    --secondarycolor: #fdfcfd;
}

* {
    box-sizing: border-box;
}

ul {
    padding: 10px;
    margin: 15px;
    list-style: none;
    text-decoration: none;
}

li {
    padding: 5px;
}

b {
    font-size: 17px;
}

h2 {
    /*text-align: center;*/
}

body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--secondarycolor);
}

.header {
    background: linear-gradient(lightgrey, white);
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 75px 75px;
    grid-template-areas: "PHOTO TITRE1" "PHOTO TITRE2";
}

.header figure {
    margin: 0;
    grid-area: PHOTO;
}

.header h1 {
    text-align: center;
    color: darkred;
    grid-area: TITRE1;
    margin-left: 10px;
}

.header h2 {
    text-align: center;
    grid-area: TITRE2;
    margin-left: 10px;
}

.header img {
    margin-top: 5px;
    margin-left: 20px;
    transform: scaleX(-1);
    width: 150px;
}

.main {
    display: grid;
    gap: 1px;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 400px 1fr;
    grid-template-areas: "ETAT DIP" "COMP EXP";
}

.competences {
    border-radius: 10px;
    border: 2px solid black;
    grid-area: COMP;
}

.etatcivil {
    border-radius: 10px;
    background-color: black;
    color: #fff;
    border: 2px solid black;
    grid-area: ETAT;
}

.diplomes {
    background-color: lavenderblush;
    margin-right: 23px;
    border-radius: 10px;
    border: 2px solid black;
    grid-area: DIP;
}

.diplomes .dipl {
    margin-left: 150px;
}

.etatcivil h1 {
    margin-bottom: 0;
}

.experiencepro {
    /*overflow-y: scroll;*/
    /*background: linear-gradient(var(--primarycolor), var(--secondarycolor));*/
    border-radius: 10px;
    background-color: black;
    color: #fff;
    border: 2px solid black;
    grid-area: EXP;
}

.experiencepro p {
    margin-top: 0;
    margin-bottom: 5px;
}

.pastille {
    font-family: cursive;
    color: red;
    font-style: bold;
    margin-bottom: 5px;
}

.dipl {
    font-size: 25px;
}

@media screen and (max-width: 420px) {
    .header {
        display: grid;
        grid-template-columns: 150px 1fr;
        grid-template-rows: 150px 150px;
        grid-template-areas: "PHOTO TITRE1" "PHOTO TITRE2";
    }
    .main {
        display: grid;
        gap: 1px;
        grid-template-columns: 350px 1fr;
        grid-template-rows: 800px 1fr;
        grid-template-areas: "ETAT DIP" "COMP EXP";
    }
    .diplomes .dipl {
        margin-left: 25px;
    }
}

@media screen and (max-width: 700px) {
    .header {
        display: grid;
        grid-template-columns: 150px 1fr;
        grid-template-rows: 150px 150px;
        grid-template-areas: "PHOTO TITRE1" "PHOTO TITRE2";
    }
    .main {
        display: grid;
        gap: 1px;
        grid-template-columns: 350px 1fr;
        grid-template-rows: 800px 1fr;
        grid-template-areas: "ETAT DIP" "COMP EXP";
    }
    .diplomes .dipl {
        margin-left: 25px;
    }
}