html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

header{
    display:flex;
    justify-content:center;
    align-items:center;
}

nav{
    margin-top:30px;
    width:70%;
    border-radius:6px;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:antiquewhite;
}

img{
    width:50%;
    
}

.pg-navbar{
    justify-content: flex-end;
    
}

.pg-itemclients{
    margin-left:20px;
    border: 3px solid black;
    border-radius:5px;
}
.pg-itemclients:hover{
    background-color:#38DD09;
}

.container{
    
    
    width:75%;
    background-color:white;
}

h1{
    text-align:center;
}

h3{
    text-align:center;
}

.pg-ajouter{
    margin-top:50px;
    margin-left:42%;
}


