*{
    box-sizing: border-box;
}

body{
    background-color: darkgrey;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/pasky.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
    
    
}
main{
    position: absolute;
    z-index: 1;
    background-color: darkgrey;
    display: flex;
    height: 100vh;
    margin-left: -3000px;
    justify-content: flex-start;
    align-items: center;
    transition-duration: 0.7s;
    
}

.formset{
    margin-left: -500px;
    transition-duration: 0.7s;
}

.mainconnect{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    border: 4px solid darkred;
    background-image: url(../img/PASKY4.JPG);
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
    margin-top: 200px;
    margin-bottom: -200px;
    margin-left: -2800px;
    height: 500px;
    width: 400px;
    transition-duration: 0.7s;

}
.formset2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    border: 4px solid darkred;
    background-image: url(../img/PASKY4.JPG);
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
    margin-top: 200px;
    margin-bottom: -200px;
    margin-left: 0px;
    height: 500px;
    width: 400px;
    transition-duration: 0.5s;
}
form{
    position: absolute;
    z-index: -1;
}
.container{
    background-color: lightskyblue;
    background-image: url(../img/PASKY4.JPG);
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
    zoom: 125%;
    opacity: 1;
    display: flex;
    border-radius: 10px;
    border: 4px solid darkred;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 400px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left:-20px;
    text-align: center;
    color: greenyellow;
}
small{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
    
    
}
.general small{
    color: deeppink;
}

label{
    color: darkorange;
    font-size: 75%;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: -400px;
}

button{
    border-radius: 5px;
    
}
button:hover{
    background-color: greenyellow;
}
input{
    width: 220px;
    height: 30px;
}
small{
    color: black;
}
span{
    display: flex;
}
header{
    justify-content: flex-end;
    background-color: darkred;
    

}
.mainform{
    position: absolute;
    
}
.buttonClose2{
    display: flex;
    justify-content: flex-end;
}



.buttonClose{
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.buttonClose button:hover{
    background-color: crimson;

}


.validation{
    margin-top: 5px;
    margin-bottom: 10px;
}
.reinit{
    margin-top: 10px;
}

.validation ::after{
    background-color: darkgreen;
}


/*DEBUT des styles rouge ou vert des INPUTS*/ 

.fax1{
    opacity: 0;
}
.notest{
    opacity: 1;
    color: greenyellow;
    transition-duration: 0.3s;
}

.fax2{
    opacity: 0;
}
.notest2{
    opacity: 1;
    color: red;
    transition-duration: 0.3s;
}


.nomOKgreen{
    border-color: greenyellow;
}
.nomPasokred{
    border-color: red;
}






