*{
    box-sizing: border-box;
}

body{
    background-color: darkgrey;
    height: 100vh;
    display: flex;
    
}
main{
    position: absolute;
    background-color: darkgrey;
    display: flex;
    height: 100vh;
    margin-left: -1000px;
    justify-content: flex-start;
    align-items: center;
    transition-duration: 2s;
}
.formset{
    margin-left: 700px;
    transition-duration: 2s;
}
.maincontent{
    
    height: 100vh;
    width: 500px;
    background-color: darkgrey;
    justify-content: flex-start;
}
.maincontent2{
    width: 500px;
    background-color: darkgray;
    justify-content: space-between;
}

button{
    border-radius: 5px;
    
}
button:hover{
    background-color: lightskyblue;
}
input{
    width: 150px;
}
small{
    color: black;
}
span{
    display: flex;
}
header{
    justify-content: flex-end;
    background-color: darkgrey;
    

}
.container{
    background-color: lightskyblue;
    display: flex;
    border-radius: 10px;
    border: 4px solid black;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 400px;
}
.noform{
    display: none;
}

.buttonClose{
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.buttonClose button:hover{
    background-color: crimson;

}
.validation{
    margin-top: 20px;
    margin-bottom: 10px;
}

.validation ::after{
    background-color: darkgreen;
}



.fax1{
    opacity: 0;
}
.notest{
    opacity: 1;
    color: green;
    transition-duration: 1s;
}

.fax2{
    opacity: 0;
}
.notest2{
    opacity: 1;
    color: red;
    transition-duration: 1s;
}


.nomOKgreen{
    border-color: greenyellow;
}
.nomPasokred{
    border-color: red;
}






