*{
    box-sizing: border-box;
}

body{
    background-color: darkgrey;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    
    
}
main{
    position: absolute;
    z-index: 1;
    background-color: darkgrey;
    display: flex;
    height: 100vh;
    margin-left: -1000px;
    justify-content: flex-start;
    align-items: center;
    transition-duration: 0.7s;
    
}

form{
    position: absolute;
    z-index: -1;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left:-20px;
}
small{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
    
}

label{
    
    font-size: 75%;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.formset{
    margin-left: 650px;
    transition-duration: 0.7s;
}
.maincontent{
    
    height: 100vh;
    width: 100%;
    background-color: darkgrey;
    justify-content: flex-start;
}


button{
    border-radius: 5px;
    
}
button:hover{
    background-color: lightskyblue;
}
input{
    width: 220px;
    height: 30px;
}
small{
    color: black;
}
span{
    display: flex;
}
header{
    justify-content: flex-end;
    background-color: darkgrey;
    

}
.mainform{
    position: absolute;
    
}


.container{
    background-color: lightskyblue;
    zoom: 125%;
    opacity: 1;
    display: flex;
    border-radius: 10px;
    border: 4px solid darkred;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 400px;
}
.noform{
    display: none;
}

.buttonClose{
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.buttonClose button:hover{
    background-color: crimson;

}
.validation{
    margin-top: 5px;
    margin-bottom: 10px;
}
.reinit{
    margin-top: 10px;
}

.validation ::after{
    background-color: darkgreen;
}



.fax1{
    opacity: 0;
}
.notest{
    opacity: 1;
    color: green;
    transition-duration: 0.7s;
}

.fax2{
    opacity: 0;
}
.notest2{
    opacity: 1;
    color: red;
    transition-duration: 0.7s;
}


.nomOKgreen{
    border-color: greenyellow;
}
.nomPasokred{
    border-color: red;
}






