*{
    box-sizing: border-box;
}

body{
    background-color: darkgrey;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/pasky.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
    
    
}
main{
    position: absolute;
    z-index: 1;
    background-color: darkgrey;
    display: flex;
    height: 100vh;
    margin-left: -3000px;
    justify-content: flex-start;
    align-items: center;
    transition-duration: 0.7s;
    
}

.formset{
    margin-left: -500px;
    transition-duration: 0.7s;
}
.formulaire-connexion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainconnect{
    box-shadow: 10px 5px 15px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    zoom: 125%;
    border: 4px solid darkred;
    background-image: url(../img/PASKY4.JPG);
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
    margin-top: 130px;
    margin-bottom: -140px;
    margin-left: -2800px;
    height: 480px;
    width: 400px;
    transition-duration: 0.7s;

}

.formset2{
    box-shadow: 10px 5px 15px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    zoom: 125%;
    border: 4px solid darkred;
    background-image: url(../img/PASKY4.JPG);
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
    margin-top: 130px;
    margin-bottom: -140px;
    margin-left: 0px;
    height: 480px;
    width: 400px;
    transition-duration: 0.5s;
}
form{
    position: absolute;
    z-index: 0;
}
.container{
    box-shadow: 10px 5px 15px black;
    background-image: url(../img/PASKY4.JPG);
    background-size: cover;
	background-repeat: no-repeat;
    background-position: center center;
    margin-top: 100px;
    zoom: 125%;
    opacity: 1;
    display: flex;
    border-radius: 10px;
    border: 4px solid darkred;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 400px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left:-20px;
    text-align: center;
    color: greenyellow;
}
small{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
    
    
}
.general small{
    color: deeppink;
}

label{
    color: darkorange;
    font-size: 75%;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    margin-top: 10px;
    margin-right: 20px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: -220px;
    
}
.header-classic{
    width: 100%;
    display: flex;
    padding: 30px;
    margin-left: 100px;
    
}
.header-classic h1{
    color: #FD3A40;
    zoom: 125%;
    font-style: italic;
}
button{
    border-radius: 5px;
    
}
button:hover{
    background-color: greenyellow;
}
input{
    width: 220px;
    height: 30px;
}
small{
    color: black;
}
span{
    display: flex;
}

.mainform{
    position: absolute;
    
}
.buttonClose2{
    display: flex;
    width: 100%;
    margin-top: -365px;
    justify-content: flex-end;
    padding: 5px;
}
.buttonClose2 button:hover{
    
    background-color: #FD3A40;
}


.buttonClose{
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.buttonClose button:hover{
    background-color: crimson;

}


.validation{
    margin-top: 5px;
    margin-bottom: 10px;
}
.validationConn{
    margin-top: 20px;
}
.reinit{
    margin-top: 10px;
}

.validation ::after{
    background-color: darkgreen;
}
.buttconnexion{
    margin-right: 20px;
}


/*DEBUT des styles rouge ou vert des INPUTS*/ 

.fax1{
    opacity: 0;
}
.notest{
    opacity: 1;
    color: greenyellow;
    transition-duration: 0.3s;
}

.fax2{
    opacity: 0;
}
.notest2{
    opacity: 1;
    color: red;
    transition-duration: 0.3s;
}


.nomOKgreen{
    border-color: greenyellow;
}
.nomPasokred{
    border-color: red;
}






