*{
    box-sizing: border-box;
}

body{
    background-color: darkgrey;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    border-radius: 5px;
    
}
button:hover{
    background-color: darkgreen;
}
input{
    width: 150px;
}
small{
    color: black;
}

.container{
    background-color: lightgrey;
    display: flex;
    border-radius: 10px;
    border: 4px solid black;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    width: 400px;
}
.noform{
    display: none;
}

.buttonClose{
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.buttonClose button:hover{
    background-color: crimson;

}
.validation{
    margin-top: 20px;
    margin-bottom: 10px;
}

.validation ::after{
    background-color: darkgreen;
}



.fax1{
    opacity: 0;
}
.notest{
    opacity: 1;
    color: green;
    transition-duration: 1s;
}

.fax2{
    opacity: 0;
}
.notest2{
    opacity: 1;
    color: red;
    transition-duration: 1s;
}


.nomOKgreen{
    border-color: greenyellow;
}
.nomPasokred{
    border-color: red;
}






