*{
    box-sizing: border-box;
}

body{
    background-color: darkgrey;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: lightgrey;
    display: flex;
    border-radius: 10px;
    border: 4px solid magenta;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 400px;
}



input{
    width: 150px;
}

.fax1{
    opacity: 0;
}
.notest{
    opacity: 1;
    color: green;
    transition-duration: 0.7s;
}
.fax2{
    opacity: 0;
}
.notest2{
    opacity: 1;
    color: red;
    transition-duration: 0.7s;
}

small{
    color: black;
}
.validation{
    margin-top: 20px;
}
