:root {
    --txt: #FFFFFF;
    --txt2: #CCCCCC;
    --bg: #44474E;
    --bg-dark: #33373E;
    --bg-light: #55575E;
    --border: 1px solid #111;
    --border2: 2px solid #111;
}

* {
    box-sizing: border-box;
}
.boulangerie{
    background-color: #5b5d66;
    border: 2px solid black;
    margin-bottom: 4px;
}


thead{
    width: 80%;
    border: 1px solid hotpink;
}


h1{
    display: flex;
    background-color: #292a2e;
    color:#FFFFFF;
    border: 2px solid black;
    padding-left: 20px;
}

.opening{
    
    margin-top: -58px;
    margin-right: 30px;
    display: flex;
    float: right;
    background-color: #5b5d66;
    color: #FFFFFF;
    height: 30px;
    text-align: center;
    cursor: pointer;
    vertical-align: center;
    padding-top: 6px;
}

.img{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    margin-left: 7px;
    margin-bottom: 12px;
    background-color: #5b5d66;
}
.mill{
    height: 23px;
    width: 23px;
}
.plus{
    cursor: pointer;
    border-radius: 45px;
}
.lightning{
    color: gold;
}
footer{
    display: flex;
    margin-top: 200px;
}

.boulangerie-data{
    display: flex;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

table{
    
    border: 1px solid #5b5d66;
}
td{
    padding: 5px;
    border: 1px solid #5b5d66;
}


.commandes{
    background-color: #5b5d66;
    border: 2px solid black;
    height: 650px;
}


.command{
    
    width: 100%;
    text-align: center;
    margin-top: -18px;
    
}
.command thead tr td{
    
    background-color:  #292a2e;
}
.odd{
    
    background-color: #5b5d66;
    height: 50px;
}
.even{
    
    background-color: darkgrey;
    height: 50px;
}

