:root {
    --txt: #FFFFFF;
    --txt2: #CCCCCC;
    --bg: #44474E;
    --bg-dark: #33373E;
    --bg-light: #55575E;
    --border: 1px solid #111;
    --border2: 2px solid #111;
}

* {
    box-sizing: border-box;
}
body{
    background-color: #5b5d66;
}
h1{
    display: flex;
    background-color: #5b5d66;
    color:#FFFFFF;
    border: 2px solid black;
}

.opening{
    display: flex;
    float: right;
}
.img{
    width: 250px;
    height: 250px;
}

