* {
    margin: 0;
}

body{
    background-color: rgb(144, 118, 168);
    justify-content: center;
    text-align: center;
    
}
nav{
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
    align-self: center;
    justify-content: center;
    background-color: blueviolet;
}
.scooper{
    
    top: 50px;
    padding: 0;
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    background-color: hotpink;
    height: 500px;
    width: 800px;
    margin: auto;
    left: 60px;
    align-items: baseline;
    opacity: 1;
    transition-duration: 2s;
    
}

.active{
    top: 50px;
    padding: 0;
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    background-color: hotpink;
    height: 500px;
    width: 800px;
    margin: auto;
    align-items: baseline;
    opacity:0;
    transition-duration: 2s;
}
.up{
    width: 100%;
    display: flex;    
    justify-content: space-between;
}

.btn-valid{
    align-self: center;
}

.main-hidden{
    display: none;
}
.inscription{
    width: 10%;
    height: 20px;
    margin: auto;
    align-items: center;
}
.inscriptionOK{
    height: 20px;
    width: 200px;
    display: flex;
    background-color: red;
    align-self: center;
    justify-content: right;
    text-align: center;
    margin: auto;
    opacity: 0;
    transition-duration: 2s;
    
}
.active3{
    height: 20px;
    width: 200px;
    display: flex;
    background-color: red;
    align-self: center;
    justify-content: right;
    text-align: center;
    margin: auto;
    opacity: 1;
    transition-duration: 2s;
}

p{
    font-size: 10px;
    
}

.active2{
    display: flex;
    height: 20px;
    width: 200px;
    background-color: red;
    align-self: center;
    justify-content: right;
    border-radius: 5px;
    margin: auto;
}

.ajout{
    width: 100px;
    height: 100px;
    border-radius: 5px solid black;
    background-color: aquamarine;
}

.ajout2{
    width: 100px;
    height: 100px;
    border-radius: 5px solid black;
   
    background-color: aquamarine;
}