* {
    margin: 0;
}
nav{
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
    background-color: blueviolet;
}
.scooper{
    top: 50px;
    padding: 0;
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    background-color: hotpink;
    height: 500px;
    width: 800px;
    margin: auto;
    align-items: baseline;
    opacity: 1;
    transition-duration: 3s;
    
}

.active{
    top: 50px;
    padding: 0;
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    background-color: hotpink;
    height: 500px;
    width: 800px;
    margin: auto;
    align-items: baseline;
    opacity:0;
    transition-duration: 3s;
}
.up{
    width: 100%;
    display: flex;    
    justify-content: space-between;
}

.btn-valid{
    align-self: center;
}

.main-hidden{
    display: none;
}
.inscription{
    width: 10%;
    height: 20px;
    float: right;
    
    
}