h2{
    text-align: center;
    color: blueviolet;
}
body{
    background-color: burlywood;
    
}
#communes{
    margin-top: 100px;
}
.affichage{
    width: 300px;
    justify-content: center;
}
#app{
    
    text-align: center;
}