table {
    width: 100%;
    background-color: black;
    color: white;
    justify-content: center;
    text-align: justify;
    border-bottom: 1px solid grey;
}
th {
    background-color: gray;
    text-align: center;
    color: yellowgreen;
}

td {
    text-align: center;
    border-bottom: 1px solid grey;
}

body{
    background-color: hotpink;
}

