*{
    box-sizing: border-box;
}

body{
    background-color: darkgray;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.nom:focus{
    background-color: rgb(185, 181, 181);
    transition-duration: 0.6s;

}
.prenom:focus{
    background-color: rgb(185, 181, 181);
    transition-duration: 0.6s;
}
.adresse:focus{
    background-color: rgb(185, 181, 181);
    transition-duration: 0.6s;
}
.email:focus{
    background-color: rgb(185, 181, 181);
    transition-duration: 0.6s;
}
.container{
    display: flex;
    background-color: darksalmon;
    padding: 10px;
    height: auto;
    width: auto;
    border: 1px solid black;
    border-radius: 5px;
}
.inactive{
    display: none;
    
}
.container-button{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}
.container-button :hover{
    background-color: red;
    transition-duration: 0.6s;
}
.central{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.validation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}
.validation :hover{
    background-color: rgb(70, 172, 70);
    transition-duration: 0.6s;
}