*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: grey;
}

.red-container{
    display: flex;
    padding: 10px;
    gap: 100px;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    align-content: stretch;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    background-color: crimson;
}

.carrepink{
    
    height: 100px;
    width: 100px;
    background-color: hotpink;
    
}
#carreblue{
    
    height: 100px;
    width: 100px;
    background-color: blue;
}
.carregreen{
    
    margin-left: auto;
    height: 100px;
    width: 100px;
    background-color: green;
}
.carreyellow{
    
    margin-left: auto;
    height: 100px;
    width: 100px;
    background-color: yellow;
}

