<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP_ZIPCODE</title>
    <link rel="stylesheet" href="./assets/css/main.css">
    <script src="./assets/js/vue.global3.2.22.js" defer></script>
    <script src="./assets/js/main.js" type="module"></script>
</head>
<body>
    <div id="app">
        <header>
            <h2>ZIPCODES</h2>
        </header>
        <input @input="searchInput" type="search" name="search" value="" list="communes" 
        data-code="commune.codePostal" class="affichage" id="test"/>
       
        <datalist id="communes" :data-id="commune.codePostal">
            
            <option v-for="commune in communes" :value="commune.nomCommune">
            {{ commune.codePostal }} {{commune.nomCommune}} {{commune.libelleAcheminement}}
            </option>
            
        </datalist>
        <button @click="clickValidation">VALIDATION</button>
        <table v-for="commune in resultats" :value="commune.codePostal">
            <tr>
                <td>
                    <span>Nom de la Commune : {{commune.nomCommune}} </span><br/>
                    <span>Code postal : {{commune.codePostal}} </span><br/>
                    <span>Acheminement : {{commune.libelleAcheminement}} </span><br/>
                    <span>Code adm. : {{commune.codeCommune}} </span><br/>
                    <span>********************</span>
                </td>
            </tr>
        </table>
        <table v-for="commune in resultComm" :value="commune.nomCommune">
            <tr>
                <td>
                    <span>Nom de la Commune : {{commune.nomCommune}} </span><br/>
                    <span>Code postal : {{commune.codePostal}} </span><br/>
                    <span>Acheminement : {{commune.libelleAcheminement}} </span><br/>
                    <span>Code adm. : {{commune.codeCommune}} </span><br/>
                    <span>********************</span>
                </td>
            </tr>
        </table>
        
    </div>
</body>
</html>