<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TPcereals</title>
    <link rel="stylesheet" href="./assets/css/main.css">
    <script src="./assets/js/vue.global3.2.22.js" defer></script>
    <script src="./assets/js/main.js" type="module"></script>
</head>

<body>
    <div id="app">
        <header>
            <h2>CEREALS</h2>
            <div class="searchelements">
                
                <fieldset class="search">
                    <legend>Rechercher</legend>
                    
                    <input @input="searchInput" type="search" placeholder="Nom du céréale"/>
                    
                    
                </fieldset>
            
                <fieldset class="filter">
                    <legend>Filtrer</legend>
                    <fieldset class="nutriscore">
                        <legend>Nutriscore</legend>
                        A <input type="checkbox" @click="nutriSelect" data-name="A" checked> 
                        B <input type="checkbox" @click="nutriSelect" data-name="B" checked> 
                        C <input type="checkbox" @click="nutriSelect" data-name="C" checked> 
                        D <input type="checkbox" @click="nutriSelect" data-name="D" checked> 
                        E <input type="checkbox" @click="nutriSelect" data-name="E" checked>
                    </fieldset>
                    <fieldset>
                        <legend>Catégorie</legend>
                        <select @change="changeCat">
                            <option value="1">Tous</option>
                            <option value="2">Sans sucre</option>
                            <option value="3">Pauvre en sel</option>
                            <option value="4">Boost</option>
                        </select>
                    </fieldset>
                </fieldset>
            </div>
        </header>
        <table>

            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOM</th>
                    <th>CALORIES</th>
                    <th>PROTEINES</th>
                    <th>SEL</th>
                    <th>FIBRES</th>
                    <th>GLUCIDES</th>
                    <th>SUCRE</th>
                    <th>POTASSIUM</th>
                    <th>VITAMINES</th>
                    <th>EVALUATION</th>
                    <th>NS</th>
                    <th>DEL</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="cereal of cereals">
                    <td>{{ cereal.id }}</td>
                    <td>{{ cereal.name }}</td>
                    <td id="cal">{{ cereal.calories }}</td>
                    <td>{{ cereal.protein }}</td>
                    <td>{{ cereal.sodium }}</td>
                    <td>{{ cereal.fiber }}</td>
                    <td>{{ cereal.carbo }}</td>
                    <td>{{ cereal.sugars }}</td>
                    <td>{{ cereal.potass }}</td>
                    <td>{{ cereal.vitamins }}</td>
                    <td>{{ cereal.rating }}</td>
                    <td :class="db.getNutriscore(cereal)">{{ db.getNutriscore(cereal) }}</td>
                    <td><a :data-id="cereal.id" @click="eraseLine" class="eraseButton">❌</a></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <!--On souhaite ajouter une ligne de calcul pour le total des éléments-->
                <tr>
                    <td colspan="2">{{total}}</td>
                    <td>{{calorie}}</td>
                </tr>
            </tfoot>

        </table>



    </div>
</body>

</html>


<!-- 
<td v-if="cereal.rating > 80" class="n_A">A</td>
<td v-else-if="cereal.rating > 70" class="n_B">B</td>
<td v-else-if="cereal.rating > 55" class="n_C">C</td>
<td v-else-if="cereal.rating > 35" class="n_D">D</td>
<td v-else class="n_E">E</td>-->